body {
    font-family: 'Cairo', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

#options button {
    margin-bottom: 10px;
}

#encryption textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}